**1- Explain the key features of Python that make it a popular choice for programming**

Python is one of the most popular programming languages today, and its popularity stems from several key features that make it especially attractive for beginners and experienced developers alike:

a. **Simple and Readable Syntax**

Python’s syntax is clean and easy to understand, which makes the code more readable and maintainable.

  It resembles plain English, which lowers the barrier to entry for beginners.

**b. Extensive Standard Library and Ecosystem**

Python comes with a rich standard library that provides modules and functions for everything from file I/O to web development.

There’s also a massive ecosystem of third-party packages (e.g., NumPy, Pandas, TensorFlow) for nearly every application area.

**c. Interpreted and Dynamically Typed**

Python is an interpreted language, so it runs code line-by-line without the need for a separate compilation step.

It is dynamically typed, meaning you don’t need to declare variable types explicitly.

**d. Versatile and Multi-Paradigm**

Python supports multiple programming paradigms:

Procedural

Object-Oriented

Functional

This flexibility allows developers to choose the best approach for their project.


**e. Cross-Platform Compatibility**

Python is available on all major platforms (Windows, macOS, Linux), and Python programs can run unchanged across different systems.


**2-  Describe the role of predefined keywords in Python and provide examples of how they are used in a
program**

Categories of Python Keywords with Examples

**a. Control Flow**

Used to make decisions or loop through data.

if, elif, else

for, while, break, continue, pass

In [ ]:
x = 10
if x > 5:
    print("x is greater than 5")
else:
    print("x is 5 or less")

x is greater than 5

**b. Variable Definition and Scope**

Used for defining or managing variables and scope.

def, return, global, nonlocal, lambda

In [ ]:
def greet(name):
    return f"Hello, {name}!"

print(greet("Alice"))

Hello, Alice!

**c. Object-Oriented Programming**

Used for defining classes and working with inheritance.

class, self, super

In [ ]:
class Animal:
    def speak(self):
        print("Animal speaks")

class Dog(Animal):
    def speak(self):
        super().speak()
        print("Dog barks")

d = Dog()
d.speak()

Animal speaks
Dog barks

**d. Exception Handling**

Used for managing errors and exceptions.

try, except, finally, raise

In [ ]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Can't divide by zero!")

Can't divide by zero!

**e. Boolean and Logical Operations**

Used for logic and comparisons.

True, False, not, and, or, is, in

In [ ]:
x = 5
if x > 0 and x < 10:
    print("x is between 0 and 10")

x is between 0 and 10

**3- Describe the role of predefined keywords in Python and provide examples of how they are used in a program**

Predefined keywords in Python are reserved words that are used to define the syntax and rules of the Python language.
These keywords have special meanings and cannot be used as variable names or identifiers.

They help control how your program behaves — like making decisions, looping, handling errors, and defining functions or classes.

Examples of Predefined Keywords in Use
a. Control Flow

Used to make decisions in a program.

Keywords used: if, else

In [ ]:
x = 10
if x > 5:
    print("x is greater than 5")
else:
    print("x is 5 or less")

x is greater than 5

**b. Loops**

Used to repeat actions.

Keywords used: for, in

In [ ]:
for i in range(3):
    print("Iteration", i)

Iteration 0
Iteration 1
Iteration 2

**c. Function Definition**

Used to group code and reuse it.

Keywords used: def, return

In [ ]:
def greet(name):
    return "Hello " + name

print(greet("Bibhu"))

Hello Bibhu

**d. Exception Handling**

Used to manage errors.

Keywords used: try, except

In [ ]:
try:
    print(10 / 0)
except ZeroDivisionError:
    print("Cannot divide by zero!")

Cannot divide by zero!

**e.Boolean Logic**

Used for making logical decisions.

Keywords used: True, and, if

In [ ]:
is_active = True
if is_active and x > 0:
    print("Active and x is positive")

Active and x is positive

**4- Discuss the different types of operators in Python and provide examples of how they are used**

The different types of operators in Python

**a. Arithmetic Operators**

Used to perform basic mathematical operations.

Operator	Description	Example
+	Addition	3 + 2 → 5
-	Subtraction	5 - 2 → 3
*	Multiplication	4 * 3 → 12
/	Division	10 / 2 → 5.0

//	Floor Division	10 // 3 → 3

%	Modulus	10 % 3 → 1

**Exponentiation	2 ** 3 → 8

In [ ]:
a = 10
b = 3
print(a + b)
print(a ** b)

13
1000

**b. Assignment Operators**

Used to assign values to variables.

Operator | Example | Equivalent

= |        x = 5 | Assign 5 to x

+= |       x += 2 | x = x + 2

-= |       x -= 1 | x = x - 1

*= |       x *= 3 | x = x * 3

/= |       x /= 2 | x = x / 2

In [ ]:
x = 5
x += 3
print(x)

8

**c. Comparison Operators**

Used to compare two values and return True or False.

Operator | Meaning | Example

== | Equal to | 3 == 3 → True

!= | Not equal to | 4 != 5 → True

> | Greater than | 5 > 2 → True

< | Less than | 2 < 5 → True

>= | Greater than or equal | 5 >= 5 → True

<= | Less than or equal | 3 <= 4 → True

In [ ]:
a = 10
b = 5
print(a > b)

True

**d. Logical Operators**

Used to combine conditional statements.

Operator | Description | Example

and | True if both are true | True and False → False

or | True if at least one is true | True or False → True

not | Reverses the result | not True → False

In [ ]:
x = 5
print(x > 2 and x < 10)

True

**e. Identity Operators**

Used to check if two variables point to the same object.

Operator | Description | Example

is | Same object | x is y

is not | Not the same object | x is not y

In [ ]:
x = [1, 2]
y = x
z = [1, 2]
print(x is y)
print(x is z)

True
False

**f. Membership Operators**

Used to test if a value is part of a sequence (like a list, string, etc.)

Operator | Description | Example

in | Value exists | "a" in "apple" → True

not in | Value does not exist | "z" not in "apple" → True

In [ ]:
fruits = ["apple", "banana"]
print("apple" in fruits)

True

**g. Bitwise Operators**

Operate on bits (0s and 1s).

Operator | Description | Example (Binary)

& | AND | 5 & 3 → 1
` | ` | OR

^ | XOR | 5 ^ 3 → 6

~ | NOT | ~5 → -6

<< | Left shift | 5 << 1 → 10

>> | Right shift | 5 >> 1 → 2

In [36]:
a = 5
b = 3
print(a & b)

1

**5- Explain the concept of type casting in Python with examples**

Type casting (also called type conversion) is the process of converting one data type into another.

Python lets you manually convert data types using built-in functions like:

int() – converts to integer

float() – converts to float

str() – converts to string

bool() – converts to boolean

list(), tuple(), set() – converts between collections

**Examples of Type Casting:**

a. String to Integer

Here, "123" is a string. int("123") converts it to an integer.

In [ ]:
num_str = "123"
num_int = int(num_str)
print(num_int + 10)

133

2. Integer to Float

In [21]:
x = 10
y = float(x)
print(y)

10.0

**c. Float to Integer **

In [22]:
price = 9.99
price_int = int(price)
print(price_int)

9

**d. Number to String**

In [23]:
age = 25
age_str = str(age)
print("I am " + age_str + " years old.")

I am 25 years old.

**e. Boolean to Integer**

In [24]:
print(int(True))
print(int(False))

1
0

** f.String to List**

In [25]:
text = "hello"
letters = list(text)
print(letters)

['h', 'e', 'l', 'l', 'o']

**6- How do conditional statements work in Python? Illustrate with examples**

Conditional statements let your program choose between different actions depending on whether a condition is True or False.

 Basic Structure

 if condition:
    # code to run if condition is True
elif another_condition:
    # code to run if the first condition is False and this is True
else:
    # code to run if none of the above conditions are True

a. Simple if Statement

In [26]:
x = 10

if x > 5:
    print("x is greater than 5")

x is greater than 5

b. if...else Statement

In [27]:
x = 3

if x > 5:
    print("x is greater than 5")
else:
    print("x is 5 or less")

x is 5 or less

c. if...elif...else Statement

In [28]:
x = 5

if x > 5:
    print("x is greater than 5")
elif x == 5:
    print("x is equal to 5")
else:
    print("x is less than 5")

x is equal to 5

d. Nested if Statements

In [29]:
x = 10
y = 20

if x < y:
    if x > 5:
        print("x is between 6 and y")

x is between 6 and y

e. Using Logical Operators

In [30]:
age = 18

if age >= 18 and age <= 25:
    print("You are a young adult")

You are a young adult

**7- Describe the different types of loops in Python and their use cases with examples.**

Loops in Python are used to repeat a block of code multiple times. There are two main types of loops in Python: for loops and while loops. Let’s break them down clearly with use cases and examples.

**a. for Loop**

What It Does:Loops over a sequence like a list, string, tuple, or range.

Use Cases:

Repeating a task a specific number of times

Iterating over items in a list, string, or dictionary

Example: Loop through a list

In [31]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

Example: Using range()

In [32]:
for i in range(5):
    print(i)

0
1
2
3
4

**b. while Loop**

 What It Does:
Repeats a block of code as long as a condition is true.

Use Cases:

Keep running until user input meets a condition

Waiting for a task to finish

Infinite loops (with a break condition)

Example: Count until 5

In [33]:
x = 1
while x <= 5:
    print(x)
    x += 1

1
2
3
4
5

**Nested Loops**

You can have a loop inside another loop.

In [34]:
for i in range(2):
    for j in range(3):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2